body {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

#body_calculator {
    border: 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: white;
    width: 290px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#button_position {
    margin-left: 113px;
}

#hasil {
    margin-left: 65px;
}